/vendor/
/node_modules/

.env

application/cache/*
application/logs/*
includes
includes/lib/mercadopago/
includes/lib/mercadopago/lib/
includes/lib/mercadopago/vendor/

includes/lib/mercadopago/*


bower_components

.DS_Store
Thumbs.db

.vscode/

.claude
claude

mercadopado.zip
utec-ci.zip