/vendor/
/node_modules/

.env

application/cache/*
application/logs/*
includes/
!includes/adm/menu.php
!includes/adm/top.php
includes/lib/mercadopago/
includes/lib/mercadopago/lib/
includes/lib/mercadopago/vendor/

includes/lib/mercadopago/*


bower_components

.DS_Store
Thumbs.db

.vscode/

.claude/*
!.claude/agents/
claude

mercadopado.zip
utec-ci.zip

python
.agents
.idea
.superpowers
.worktrees/
